$brands: (facebook :#1877F2,
slack:#4A154B,
messenger:#00B2FF,
instagram:#E4405F,
skype:#00AFF0,
whatsapp:#25D366,
twitter: #1DA1F2,
upwork:#6FDA44,
fiverr:#1DBF73,
linkedin:#0A66C2,
gitlab: #FCA121,
github:#181717,
git: #F05032,
stack-overflow :#F58025,
bitbucket:#0052CC);

.icon {

    @each $brand, $props in $brands {
        &-#{$brand} {
            @if 1 < length($props) {
                background-color: nth($props, 1);
                font-size: nth($props, 2);
            }
            @else {
                background-color: $props;
                color:white;
            }
            &.bg-off {
                background-color: unset;
            }
            &.hov-brand{
                background-color: unset;
                &:hover{
                    background-color: $props;
                    color:white;
                }
            }
        }
    }
}