$icomoon-font-family: "itprix" !default;
$icomoon-font-path: "fonts" !default;

$icon-person1: "\e92b";
$icon-star1: "\e922";
$icon-search-alt: "\e923";
$icon-phone1: "\e924";
$icon-heart-filled: "\e925";
$icon-heart: "\e926";
$icon-close: "\e927";
$icon-cart1: "\e928";
$icon-phone: "\e91b";
$icon-keyboard_arrow_down: "\e91c";
$icon-keyboard_arrow_left: "\e91e";
$icon-keyboard_arrow_right: "\e91f";
$icon-keyboard_arrow_up: "\e920";
$icon-dehaze: "\e92c";
$icon-cart: "\e921";
$icon-arrow_back_ios: "\e929";
$icon-arrow_forward_ios: "\e92a";
$icon-search: "\e91a";
$icon-slack: "\e919";
$icon-bitbucket: "\e91d";
$icon-instagram: "\e900";
$icon-gitlab: "\e918";
$icon-stack-overflow: "\e917";
$icon-git: "\e916";
$icon-github: "\e915";
$icon-messenger: "\e901";
$icon-skype: "\e902";
$icon-linkedin: "\e903";
$icon-twitter: "\e904";
$icon-facebook: "\e905";
$icon-whatsapp: "\e912";
$icon-brand: "\e912";
$icon-social: "\e912";
$icon-fiverr: "\e913";
$icon-upwork: "\e914";
$icon-mail: "\e906";
$icon-clear: "\e907";
$icon-money: "\e908";
$icon-person: "\e909";
$icon-share: "\e90a";
$icon-star: "\e90b";
$icon-star_empty: "\e90c";
$icon-done: "\e90d";
$icon-home: "\e90e";
$icon-card_travel: "\e90f";
$icon-copyright: "\e910";
$icon-east: "\e911";

